.wrapper{
    position: relative;
    .back-to-top-btn{
        position: fixed;
        bottom: 5%;
        right: 5%;
        background-color: rgba(0,0,0,.6);
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s linear;
        border: 1px solid white;
        z-index: 10;
        box-shadow: 1px 1px 3px white;
        &:hover{
            background-color: rgba(0,0,0,.9);
        }
        i{
            color: white;
            transition: all 0.3s linear;
            font-weight: 600;
        }
    }
    .reverse{
        transform: rotate(180deg);
    }
}
