.detail-content{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7)
}
.detail-content-name{
  transform: translateY(-90%);
  display: flex;
  align-items: center;
  user-select: none;
    p{
        font-size: 40px;
        font-weight: 600;
        color: #fff;
        margin: 0 10px;
        text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
        &::first-letter{
            text-transform: uppercase;
        }
    }
}

.detail-content-img{
  user-select: none;
    position: relative;
    width: 250px;
    height: 250px;
    .detail-content-img-thumb{
      position: absolute;
      width: 140%;
      top: -20%;
      left: -20%;
      animation: spin-reverse 2.6s linear infinite;
    }
    .detail-content-img-center{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      animation: spin 20.6s linear infinite;
    }
    .detail-content-img-avt{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-self: center;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;
    }
    .detail-content-img-effect{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
        .img-effect p{
          animation: showingInfo-cross 0.8s 1s ease-in forwards;
          color: azure;
          opacity: 0;
          text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;
        }
        // 1
        .img-effect:nth-child(1){
            position: absolute;
            right: 0px;
            top: 4%;  
            p{
              position: absolute;
              top: -62px;
              right: -164px;
            }
            &::after{
              content:"";
              position: absolute;
              right: -52px;
              top: 4%;
              width: 70px;
              height: 4px;
              transform: rotate(-45deg);
              background-color: #9be1ff;
              border-radius: 3px;
              filter: blur(1px);
              animation: showingInfo-cross 0.8s  linear forwards;
            }
            &::before{
              content: "";
              display: block;
              position: absolute;
              top: -24px;
              left: 40px;
              width: 0px;
              height: 4px;
              background-color: #9be1ff;
              border-radius: 3px;
              filter: blur(1px);
              animation: showingInfo-horizontal-xl 0.8s 0.8s linear forwards;
            }
        }
        // 2
        .img-effect:nth-child(2){
            position: absolute;
            right: 0px;
            bottom: 4%;  
            p{
                position: absolute;
                bottom: -36px;
                right: -132px;
            }
            &::after{
              content:"";
              position: absolute;
              right: -52px;
              bottom: -8%;
              width: 70px;
              height: 4px;
              transform: rotate(45deg);
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-cross 0.8s  linear forwards;
              filter: blur(1px);
            }
            &::before{
              content: "";
              display: block;
              position: absolute;
              bottom: -24px;
              left: 40px;
              // width: 114px;
              width: 0px;
              height: 4px;
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-horizontal-md 0.8s 0.8s linear forwards;
              filter: blur(1px);
            }
        }
        //3
        .img-effect:nth-child(3){
          position: absolute;
          left: 0px;
          top: 6%;  
          p{
              position: absolute;
              top: -60px;
              left: -135px;
          }      
          &::after{
              content: "";
              position: absolute;
              right: -37px;
              width: 68px;
              height: 4px;
              transform: rotate(45deg);
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-cross 0.8s  linear forwards;
              filter: blur(1px);
          }
          &::before{
              content: "";
              display: block;
              position: absolute;
              top: -24px;
              right: 20px;
              width: 0px;
              height: 4px;
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-horizontal-md 0.8s 0.8s linear forwards;
              filter: blur(1px);
          }
        }
        //4
        .img-effect:nth-child(4){
          position: absolute;
          left: 0px;
          bottom: 6%;  
          p{
              position: absolute;
              top: -60px;
              left: -135px;
          }      
          &::after{
              content: "";
              position: absolute;
              right: -37px;
              width: 68px;
              height: 4px;
              transform: rotate(-45deg);
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-cross 0.8s  linear forwards;
              filter: blur(1px);
          }
          &::before{
              content: "";
              display: block;
              position: absolute;
              bottom: -27px;
              right: 20px;
              width: 0px;
              height: 4px;
              background-color: #9be1ff;
              border-radius: 3px;
              animation: showingInfo-horizontal-xl 0.8s 0.8s linear forwards;
              filter: blur(1px);
          }
        }
    }
}
// Types
.detail-content-types{
    position: absolute;
    left: -150px;
    top: 0;
    opacity: 0;
    animation: showingInfo-cross 0.8s 1s linear forwards;
    ul{
      list-style: none;
      margin: 0px;
      padding: 0;
      display: flex;
    }
    .detail-content-types-item{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 10px;
    }
}

.header-search{
  position: absolute;
  top: 5%;
  left: 5%;
  display: flex;
  align-items: center;
  cursor: pointer;
  input{
      font-family: 'Anek Telugu', sans-serif;
      font-weight: 600;
      margin-right: 20px;
      height: 40px;
      width: 250px;
      font-size: 15px;
      caret-color: red;
      padding: 0 8px;
      color: #fdfdfd;
      outline: none;
      border: 1px solid rgb(250, 250, 250);
      border-radius: 3px;
      background-color: transparent;
      
  }
  .alert-float{
    position: absolute;
    top: 30%;
    right: -50%;
    color: white;
    text-shadow: 0 0 3px #000, 2px 2px 7px #9be1ff, -2px -2px 7px #9be1ff;

  }
  .suggest-list{
    position: absolute;
    top: 110%;
    width: 50%;
    .suggest-item{
      text-align: left;
      padding: 4px 10px;
      color: white;
      border: 1px solid white;
      margin: 2px 0;
    }
  }
  i{
      font-size: 22px;
      color: white;
  }
  .loading{
    animation: spinner 4s linear infinite;
  }
  
}


// keyframe
@keyframes spinner {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes showingInfo-cross {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes showingInfo-horizontal-xl {
  0%{
    width: 0;
  }
  100%{
    width: 137px;
  }
}
@keyframes showingInfo-horizontal-md {
  0%{
    width: 0;
  }
  100%{
    width: 120px;
  }
}


@keyframes spin {
    0% { 
     transform :rotate(0deg) ;
    }
    100% {
     transform :rotate(360deg) ;
    }
  }
  
@keyframes spin-reverse {
    0% { 
     transform :rotate(0deg) ;
    }
    100% {
     transform :rotate(-360deg) ;
    }
  }